
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  background-color: #FFE4E1;
}

.gallery-item {
  background-color: #FFE4E1;
  border: 1px solid #FFE4E1;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-item p {
  margin-top: 10px;
  font-weight: bold;
}
footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
}

footer a {
  color: #FFE4E1;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;

  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}